data/plots/*
data/plots/evaluation_tests/*
data/evaluation_tests/*
*/__pycache__
*/*/__pycache__
.idea
.DS_Store
*.pyc
report/*.log
report/*.aux
report/*.fdb_latexmk
report/*.fls
report/*.out
report/*.synctex.gz

